<script type="text/javascript">

	$('#dialog-confirm-save').css('visibility', 'hidden');
	$('#dialog-confirm-modify').css('visibility', 'hidden');
	$('#dialog-confirm-delete').css('visibility', 'hidden');

</script>
		
<div id="dialog-confirm-save" title="Confirm">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 10px 0;"></span>Do you want to save?</p>
</div>	

<div id="dialog-confirm-modify" title="Confirm">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 10px 0;"></span>Do you want to modify?</p>
</div>	

<div id="dialog-confirm-delete" title="Confirm">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 10px 0;"></span>Do you want to delete?</p>
</div>	

<div id="dialog-form" title="Article">
</div>	
